{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}

    <h3>Seus pedidos</h3>
    <table class="centered">
        <thead>
        <tr>
            <th>Num. Pedido</th>
            <th>Valor Total</th>
            <th>Observação</th>
            <th>Status</th>
            <th>Visualizar</th>
        </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>R$ {{ pedido.valor }}</td>
                <td>{{ pedido.obs }}</td>
                {% if pedido.status is same as ('1') %}
                    <td class="red-text">Aguardando confirmação</td>
                {% elseif pedido.status is same as ('2') %}
                    <td class="blue-text">Em preparo</td>
                {% elseif pedido.status is same as ('3') %}
                    <td class="green-text">Finalizado</td>
                {% endif %}
                <td>
                    <a href="{{ path('pedido', { 'id': pedido.id }) }}">
                        <i class="material-icons">
                            visibility
                        </i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}