{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}

    <h3>Pedidos</h3>
    <table class="centered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Usuário</th>
            <th>Valor</th>
            <th>Observação</th>
        </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>Nome do Cara</td>
                <td>R$ {{ pedido.valor }}</td>
                <td>{{ pedido.obs }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}