{% extends 'base.html.twig' %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block body %}

    <h3>Faça seu cadastro</h3>
    <span>ou entre na sua conta clicando <a href="">AQUI</a></span>
    <hr>
    {{ form(form) }}
{% endblock %}
