{% extends 'base.html.twig' %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block body %}
    <h3>Faça seu cadastro</h3>
    <span>ou entre na sua conta clicando <a href="">AQUI</a></span>
    <br>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <br />
        <div class="alert alert-success" style="color: red;">
            {{ flashMessage }}
        </div>
        <br />
    {% endfor %}
    {{ form(form) }}

    <script src="/assets/js/jquery-ajax.js"></script>
    <script src="/assets/js/jquery-mask.js"></script>
    <script type="text/javascript">
        $(".telefone").mask("(00) 00000-0000");
        $(".cpf").mask("000.000.000-00");
        $(".cep").mask("00000-000");
        $(".nr").mask("0000");
        $(".estado").mask("AA");

    </script>


{% endblock %}
